
require 'soaspec'

class <%= options[:name] %> < Soaspec::SoapHandler
  # Add to or override default Savon client options
  def savon_options
    {
        wsdl: '<%= options[:wsdl] %>'
    }
  end

end
