# This class represent SOAP Api calls for the <%= @name %> API
class <%= @name %> < Soaspec::SoapHandler
  # Wsdl for <%= @name %>
  def savon_options
      {
          # wsdl 'https://my_host/api?wsdl' TODO: Change this to the wsdl that this SOAP service uses
      }
  end

  ## Verifying on response

  # Values that must have a certain value for 'success scenario' shared example
  # mandatory_json_values '$..status' => 'available'

  # Elements that must be in the response for 'success scenario' shared example
  # Below will expect an element at the path 'tags' to be present
  # mandatory_elements :tags

  # Use this to extract the value of either a JSON (JSONPath) or XML (Xpath) element. 'element_name' is the method that will be
  # generated on an Exchange to obtain it
  # element :element_name, 'element_path'

  # Use this to extract an attribute from XML. If the name of the method and the attribute name are the same then only one parameter is
  # needed
  # attribute(:attribute_method_name, 'name_of_attribute')

  # Set an attribute on the root XML element
  # root_attributes 'Version' => '1'

end