
require 'spec_helper'

<%= operation %> = <%= options[:name] %>.new(<%= @class_params %>)
<%= operation %>.operation = :<%= operation %>
<%= operation %>.default_hash = data_for '<%= operation %>/default'

context <%= operation %> do
  describe Exchange.new(:default) do
    it_behaves_like 'success scenario'
  end
end
