
require 'soaspec'
require 'require_all'
require_all 'lib'
require 'data_magic'

include DataMagic # Used as example of loading data smartly. Use 'data_for' method to load yml data
<% if @type == 'rest' %>
include Soaspec::RestMethods
<% end %>

RSpec.configure do |config|
  # This will make backtrace much shorter by removing many lines from rspec failure message
  config.backtrace_exclusion_patterns = [
      /rspec/
  ]
<% if @virtual %>
  # Close test server after all RSpec tests have run
  config.after(:suite) do
    Process.kill(:QUIT, ENV['test_server_pid'].to_i) if ENV['test_server_pid'] && !ENV['leave_server_running']
  end
<% end %>
end
