source 'https://rubygems.org'

gem 'data_magic'    # Used to load test data from YAML easily
gem 'require_all'   # Used to make loading the library folder easy
gem 'rake'
<%= @cucumber ? "gem 'cucumber'" : "gem 'rspec'" %>
<%= "gem 'rspec_junit_formatter'" if options[:ci] == 'jenkins' %>
gem 'soaspec', '>= <%= Soaspec::VERSION %>'
