<html>
<head>
    <title>REST Exchange generator</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" charset="utf-8" />
</head>
<body>
<main class="container-fluid">
    <h1>REST Exchange generator</h1>
    <h2>Handler creator <small><%= GenerateServer.create_params['feedback'] %></small></h2>
    <form class="form-horizontal" method="POST" action="/generate">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="className">Class Name</label>
            <div class="col-sm-10">
                <input id="className" class="form-control" type="text" name="className"
                       placeholder="ApiUnderTest" value="<%= GenerateServer.create_params['className'] %>">
                <p class="help-block">This is what you will refer to the API in your test code. Use Pascal Case</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="baseUrl">Base URL</label>
            <div class="col-sm-10">
            <input id="baseUrl" class="form-control" type="text" name="baseUrl"
                   placeholder="https://url/which/api/starts_with" value="<%= GenerateServer.create_params['baseUrl'] %>">
            <p class="help-block">Url with which all REST requests using this class will start with.
                Exchanges creating using this class can append to this with the 'suburl' parameter.</p>
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="basicAuth">Basic Auth</label>
          <div class="col-sm-5">
            <input id="basicAuthUser" class="form-control" type="text" name="basicAuthUser"
                   placeholder="user" value="<%= GenerateServer.create_params['basicAuthUser'] %>">
            <p class="help-block">Basic auth parameters. Leave empty for none.</p>
          </div>
          <div class="col-sm-5">
            <input id="basicAuthPassword" class="form-control" type="text" name="basicAuthPassword"
                   placeholder="password" value="<%= GenerateServer.create_params['basicAuthPassword'] %>">
          </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Generate handler" class="btn btn-primary">
            </div>
        </div>
    </form>
</main>
</body>
</html>